body {
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#controls {
   background: lightgoldenrodyellow;
   border: 1px solid #ccc;
   text-align: center;
   align-items: center;
   font-size: 13px;
}

#controls div {
   display: inline-block;
   margin: 10px;
}

#find {
   width: auto;
   background: #eee;
   border: 1px solid #aaa;
   padding: 5px;
}

#map {
   height: 600px
}

select {
   background: white;
   border: 1px solid #ccc;
}

button {
   display: inline-block;
   height: 33px;
   border-radius: 0px;
   border: 1px solid #ccc;
   padding: 0 10px;
}
